
@model TMS.Model.TripRequest.TripRequestViewModel;

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <table>
        <tr>
            @*@{ string  activationURL = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority.ToString();}*@
            <td class="content">
                <h3>Hello @Model.DriverName,</h3>
                <p>
                    This is to inform that trip is book for you .
                </p>
                <p>
                   Your pick up point will be +"@Model.PickUp" and drop is @Model.DropOff.
                </p>
                @*<p>
                    Please click <a href="@activationURL" target='_blank'>@activationURL</a> to complete your registration and to activate your account.<br /><br />
                </p>*@
                @*<p>
                    Your Email Id is @Model.Email<br />
                    Your Password is @Model.Password
                </p>*@
                <p></p>
                <p>Regards<br />Transport Management System<br /></p>
            </td>
        </tr>
    </table>
</body>
</html>